<template name="gymnasts">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><b>Gymnaster</b></div>
          <ul class="list-group">
            {{#each gymnast}}
              <a href="{{url}}" class="list-group-item">
                <div class="row">
                  <div class="col-md-6">{{name}}</div>
                  <div class="col-md-6"><span>{{club}}</span></div>
                </div>
              </a>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>